:host {
  display: block;
}

.card {
  background-color: var(--opo-color-surface);
  border: 1px solid transparent;
  border-radius: var(--opo-radius-lg);
  box-shadow: var(--opo-shadow-sm);
  padding: var(--opo-space-6);
}

:host([data-variant='muted']) .card {
  background-color: var(--opo-color-surface-muted);
}

:host([data-variant='outlined']) .card {
  background-color: var(--opo-color-surface);
  border-color: var(--opo-color-text-muted);
}
